body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #1a1a2e;
    color: white;
}

.card {
   border: 2px solid white;
   border-radius: 10px;
   padding: 12px 20px;
   margin-bottom: 12px;

}

.temp {
    font-size: 64px;
    font-weight: normal;
}

.label {
    font-size: 64px;
    font-weight: bold;
}